body{
background-color: rgb(194, 192, 192);
height: 100vh;
width: auto;
display: flex;
align-items: center;
justify-content: center;
}

button{
    width: 150px;
    height: 70px;
    border-radius: 10px;
}

.container{
    width: 800px;
    height: auto;
    background-color: rgba(85, 182, 238, 0.825);
    /* border:1px solid ; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:center; */
    gap: 20px;
}

.button-container{
    width: auto;
    height: auto;    
}

.instructions{
    padding: 5px;
    margin:20px;
    padding-bottom: 20px;
}

.scoreboard{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
    ;
}

.reset{
    width: 50px;
    height: 30px;
    margin-bottom: 20px;
}



